name: Build Plugin Release

on:
  release:
    types: [released]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DALAMUD_HOME: /tmp/dalamud

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 10.0.x

      - name: Download Dalamud
        run: |
          wget https://goatcorp.github.io/dalamud-distrib/latest.zip -O dalamud.zip
          unzip dalamud.zip -d $DALAMUD_HOME

      - name: Build Release
        run: |
          RAW_VERSION=${GITHUB_REF_NAME#v}
          VERSION=$(echo "$RAW_VERSION" | sed 's/[^0-9.].*$//')

          echo "Raw version: $RAW_VERSION"
          echo "Assembly version: $VERSION"

          dotnet build -c Release \
            -p:AssemblyVersion=$VERSION \
            -p:FileVersion=$VERSION

      - name: Debug zip location
        run: |
          find bin -name "*.zip"

      - name: Upload zip to Release
        run: |
          gh release upload \
            ${{ github.event.release.tag_name }} \
            bin/Release/BetterMountBGM/latest.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
